@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: #111827;
}

header .logo-page {
  display: flex;
  align-items: center;
  padding: 0 19vw;
  margin-top: 3.2rem;
}

header .logo-page p {
  font-size: 40px;
  color: #fff;
}

header .logo-page .full-stop {
  background-color: #0073b0;
  width: 10px;
  height: 10px;
  border-radius: 50%;

  margin-bottom: -18px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 80vh;
}

main section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

main section .image-background img {
  height: 402px;
  filter: drop-shadow(4px 4px 24px rgba(0, 115, 176, 0.32));
}

main section .forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 48rem;
  height: 40rem;

  background-color: #f9f9fb;
}

main section .forms .form-title {
  font-size: 3.2rem;
  font-weight: 600;

  padding: 1.6rem;
}

main section .forms form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main section .forms form .email,
main section .forms form .password {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

main section .forms form span {
  display: flex;
  align-items: center;
}

main section .forms form span i {
  position: absolute;
  margin: 1.6rem;
  font-size: 2.4rem;
  color: #7c7c89;
}

main section .forms form input {
  position: relative;
  border: none;
  border-radius: 0.4rem;

  width: 40rem;
  height: 4.8rem;
  padding: 1.6rem 4.8rem;

  background-color: rgba(113, 128, 185, 0.5);
  color: #4b5563;
  font-size: 1.6rem;
}

main section .forms form .message {
  font-size: 1.4rem;
}

main section .forms form button {
  width: 40rem;
  height: 4.8rem;

  border: none;
  border-radius: 0.4rem;

  color: #000;
  font-size: 1.6rem;
  font-weight: 600;

  background-color: #7180b9;

  cursor: pointer;
}

main section .forms form button:hover {
  background-color: #5a6795;
}

main section .forms .line {
  width: 12.4rem;
  height: 0.3rem;
  background-color: rgba(0, 0, 0, 0.2);

  margin-top: 1.6rem;
}

main section .forms footer {
  display: flex;
  align-items: center;
  gap: 5.6rem;

  padding: 2.4rem;
}

main section .forms footer p {
  font-size: 2rem;
}

main section .forms footer button i {
  font-size: 3.2rem;
}

main section .forms footer button {
  width: 22.4rem;
  height: 4.8rem;

  border: none;
  border-radius: 0.4rem;

  color: #000;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #7180b9;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  cursor: pointer;
}

main section .forms footer button:hover {
  background-color: #5a6795;
}

.message-invalid {
  color: red;
}

@media screen and (max-width: 1400px) {
  header .logo-page {
    padding: 0 13vw;
  }

  main section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }
}

@media screen and (max-width: 820px) {
  header .logo-page {
    display: flex;
    align-items: center;
    padding: 0 0 0 18vw;
  }

  main section {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  header .logo-page {
    padding: 0 0 0 12vw;
  }

  main section {
    display: grid;
    grid-template-columns: 1fr;
  }

  main section .image-background img {
    height: 266px;
    filter: drop-shadow(4px 4px 24px rgba(0, 115, 176, 0.32));
  }

  main section .forms .form-title {
    font-size: 2rem;
  }

  main section .forms {
    width: 32rem;
    height: 32rem;
  }

  main section .forms form input {
    width: 28rem;
    height: 2rem;
    padding: 1.6rem 4.8rem;

    font-size: 1.4rem;
  }

  main section .forms form .message {
    font-size: 1.2rem;
  }

  main section .forms form button {
    width: 28rem;
    height: 3.2rem;
  }

  main section .forms footer button {
    width: 14rem;
    height: 3.2rem;

    font-size: 1.4rem;
    font-weight: 600;
    background-color: #7180b9;
  }

  main section .forms footer {
    gap: 4rem;

    padding: 1.6rem;
  }

  main section .forms footer p {
    font-size: 1.4rem;
  }

  main section .forms footer button i {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 412px) {
  header .logo-page {
    display: flex;
    align-items: center;
    padding: 0 0 1.6rem 4vw;
  }
}
